" Set space as the leader key
let mapleader = " "
inoremap jj <ESC>

sethandler <C-S-o> n:vim
sethandler <leader>wl n:vim

" Set shift+H and shift+L to navigate left and right between editor tabs
nmap H <Action>(PreviousTab)
nmap L <Action>(NextTab)

set NERDTree
" Focus the project files window
nmap <leader>wh <Action>(ActivateProjectToolWindow)
" Focus the editor window
nmap <leader>wl <Action>(SelectInProjectView)
" Close the current editor tab
nmap <leader>bd <Action>(CloseContent)
" Back navigation 
nmap <C-o> <Action>(Back)
" Forward navigation
nmap <C-S-o> <Action>(Forward)

